body {
  font-family: 'Source Sans Pro';
}
.tes {
  color: white;
}
.test-border {
  background-color: skyblue;
  border-radius: 20px;
}
.bg-home {
  background-image: url('https://raw.githubusercontent.com/salvira3/exp/master/assets/Home-bg.jpg');
  background-size: 100%;
  background-position: center center;
  column-fill: 100%;
  background-repeat: no-repeat;
  min-height: 80%;
}