body {
  font-family: 'Source Sans Pro';
}
.tes {
  color: white;
}
.test-border {
  background-color: skyblue;
  border-radius: 20px;
}
.bg-home {
  background-image: url('https://i.ibb.co/DDMfMGd/beautiful-close-up-color-2971756.jpg');
  background-repeat: no-repeat;
  min-height: 400px;
}